/*
	Feuille de style
	Chemin : /frontend/css/style.css
*/



:root {
	--color-primary:   #2E7D32;
	--color-secondary: #66BB6A;
	--gray-dark:       #424242;
	--bg-nature:       #E8F5E9;
	--card-bg:         #C8E6C9;
	--white:           #FFFFFF;
}

body {
	font: 1rem/1.5 "Roboto", sans-serif;
	color: var(--gray-dark);
	background: var(--bg-nature);
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Lora", serif;
	margin-bottom: 1rem;
}

.btn-primary {
	background: var(--color-primary);
	border-color: var(--color-primary);
}

.btn-primary:hover,
.btn-primary:focus {
	background: var(--color-secondary);
	border-color: var(--color-secondary);
}

.form-control:focus {
	border-color: var(--color-secondary);
	box-shadow: 0 0 0 .2rem rgba(102,187,106,.25);
}

.card {
	background: var(--card-bg);
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
	border-radius: 2rem 0.5rem 2rem 0.5rem;
	transition: box-shadow 0.3s ease, transform 0.3s ease;
	padding: 2rem;
}

.card:hover {
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
	transform: translateY(-4px);
}



/* Menu */
.header-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: .5rem 1rem;
	margin-bottom: 0.4rem;
	background: #fff;
	border: 1px solid var(--bs-border-color-translucent);
	border-radius: 1.5rem 0.5rem 1.5rem 0.5rem;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
	transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.header-menu:hover {
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
	transform: translateY(-4px);
}

.header-menu ul {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

.header-menu .nav-item {
	margin-left: 2rem;
}
	
.nav-right {
	margin-right: 2rem;
}



/* Contenu */
.javamess {
	text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.menu {
	margin-top: 1rem;
}

.cont-menu {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.codeco {
	background-color: var(--gray-dark);
}

.titre-principal {
	margin-bottom: 1.5rem;
	font-style: italic;
	text-align: center;
}

.titre-secondaire
{
	font-style: italic;
}



/* Responsive */
@media (max-width: 991.98px) {
	.header-menu {
		flex-direction: column;
		align-items: center;
		padding-bottom: 1.5rem;
	}

	.header-menu .nav-item {
		margin-left: 0;
	}
	
	.nav-logo {
		margin-bottom: 1rem;
	}

	.nav-mid {
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}

	.nav-mid .nav {
		flex-direction: column;
		align-items: center;
	}

	.nav-mid .nav-item {
		margin-bottom: 0.5rem;
	}

	.nav-mid .btn {
		width: auto;
		min-width: 140px;
		text-align: center;
	}
	
	.nav-right {
		margin-top: 1rem;
		margin-right: 0;
	}
	
	.navbar-toggler:focus,
	.navbar-toggler:active {
		outline: none !important;
		box-shadow: none !important;
	}
	
	.navbar-collapse {
		overflow: hidden;
		max-height: 0;
		transition: max-height 0.4s ease;
	}
	
	.navbar-collapse.show {
		max-height: 300px;
	}
}
